.navbar {
    font-family: var(--title-font);
    background-color: #fff;
}

.navbar-blok {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.navbar-blok__section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.navbar-blok__section a {
    text-decoration: none;
    color: var(--bg-color);
    text-transform: uppercase;
    transition: .5;
    cursor: pointer;
    font-weight: 600;
    font-size: 90%;
}

.navbar-blok__section a:hover {
    opacity: .7;
}

.navbar-blok__section button {
    color: #fff;
    font-weight: 600;
    font-size: 90%;
    text-transform: uppercase;
    background-color: var(--title-color);
    border: none;
    outline: none;
    padding: 12px 20px;
    transition: .5s;
    cursor: pointer;
}

.navbar-blok__section button:hover {
    opacity: .7;
}